<html lang= "en">
<div class="album_page">
    <div class="main">
        <h1>Search for your favorite albums</h1>

        <div>
            <%= form_with url: "/album_search", method: :get do |form| %>
                <%= form.label :query, "Search for an artist or an album:" %>

                <%= form.search_field :search, minlength:"3" %>

                <%= form.submit "Search" %>
            <% end %>
        </div>
    
        <% if @search.present? %>
            <p>Your search for "<%= @search %>" returned <%= @albums.count %> results!</p>
            <% if @albums.count.zero? %>
                <p>No albuns found. Please try again with a different search term.</p>
            <% end%>
        <% end%>

        <% if @albums.present? %>
            <h1>Albums: </h1>
                <table>
                    <tr>
                        <th>Album Cover</th>
                        <th>Album Name</th>
                        <th>Artist Name</th>
                        <th>Favorite</th>
                    </tr>
                    <% @albums.each_with_object({}) do |album| %> 
                    <tr>                
                        <td><div class="cover"> <img src="<%= album.thumbnail %>"> </div></td>
                        <td><div class="albumName"> <%= album.title %> </div></td>
                        <td><div class="artistName"> <%= album.subtitle %> </div></td>
                        <td><div class="favorite"> 
                            <%= button_to image_tag(album.favorite ? 'favorite.png' : 'not_favorite.png'),
                                { :action => "add_favorite",
                                    :controller => "albums", :album_id => album.album_id, :search => @search, :albumIds => @albums.pluck(:album_id)}
                            %>
                            </div>
                        </td> 
                    </tr>
                    <% end %>
                </table>
        <% end %>
    </div>
</html>